@font-face { font-family: Questrial; src: url('Questrial-Regular.ttf'); }

html {
    background: mintcream;
}

body {
    background-color: white;
    padding: 10px;
    border: 2px solid darkcyan;
    margin: auto;
    width: 80%;
    font-family: Questrial;
}

div {
    font-size: 1.5em;
    position: relative;
    left: 10px;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    top: 0px;
    color: white;
    background-color: #3a9fb6;
    padding: 10px;
}

p {
    text-align: center;
}