.red-text{
  color: red;
  font-weight: bold;
}

#address-block {
  display: none;
}

body {
  background-color: black;
}

.btn-primary {
  background-color: darkgreen;
  width: 15em;
}

.jumbotron {
  background-color: darkgreen;
  color: white;
}

legend {
  font-weight: bold;
  color: darkgreen;
  font-variant: small-caps;
  font-size: 125%;
}

#main {
  background-color: silver;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2em;
  padding-top: 1em;
}

#blkSubmit {
  margin: 0 auto;
  padding: 3em 0 0 0;
  width: 20%;
}

.form-row {
  margin: 0.5em 1em 1em 0em;
}

.form-group {
  margin: 0em 0.8em 0.5em;
}

.float-left {
  width:250px;
  float:left;
}

.inner-div
{
  margin: 0 auto;
  width: 100px;
}
